*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.container img{
    width: 60px;
    height: auto;
}
.to-do-app{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    background-color: aliceblue;
}
.to-do-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.to-do-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ccd4e6;
    border-radius: 30px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 14px;
    background: transparent;
}
button{
    border: none;
    padding: 16px 50px;
    border-radius: 40px;
    outline: none;
    background: #ff5945;
    color: #f3eded;
    cursor: pointer;
    font-size: 16px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    font-size: 17px;
    cursor: pointer;
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./radio.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(./check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #002765;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    width: 35px;
    height: 35px;
    background: #bdb9b9;
    border-radius: 20%;
}